.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
    padding: 0 156px;
    list-style: none;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-link {
    display: block;
    text-decoration: none;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sl-wrapper {
    background-color: #2E2F42;
}